// Title Style 01
mixin title(subtitle, title, titleAfter)
  .title-wrapper 
    span.subtitle=subtitle
    h2.title=title
    p.title-after=titleAfter

// Button Product Style 01
mixin buttonProduct01(text)
  a.btn_product_ver1(class!=attributes.class href="#", target="_blank", rel="nofollow noopener noreferrer")
    span=text 

// Product Infomation Box - Style 01
mixin productStyle01(href, image, title)
  .product_item1-wrapper
    a.product_item1-link(href=href, target="_blank", rel="noopener noreferrer")
      .product_item1-image
        img(src=image, alt=title, srcset=`${image} x2`)
      .product_item1-hover
        .product_item1-content
          h3.product_item1-title=title 
    +buttonProduct01("Đọc tiếp")(class="product_item1-button")

// Category Infomation Box - Style 01
mixin categoryStyle01(href, image, title, countNumber)
  a.category_item1-wrapper(href=href, target="_blank", rel="noopener noreferrer")
    .category_item1-image
      img(src=image, alt=title)
    .category_item1-hover
      .category_item1-content
        h3.category_item1-title=title
        span.category_item1-count=countNumber