//- - Mixin blog defautl
mixin blogPage(blog)
  each item in blog 
    +blogDefautl(item.image, item.href, item.author, item.cate, item.date, item.title, item.shortDesc, item.cmtCount)

//- - Blog Style Default
mixin blogDefautl(image, href, author, cate, date, title, shortDesc, cmtCount)
  .blog-default-item
    .blog-default-thumbnail 
      .blog-default-image
        img(src=image, alt=title, srcset=`${image} 2x`)
      a.blog-default-link(href=href rel="noopener noreferrer")
      .blog-default-info 
        a.blog-default-author(href="./ceo-sai-tien-luong.html", target="_blank", rel="noopener noreferrer nofollow")
          img.blog-default-author-avatar(src="../../../images/khach-hang/le-thi-mai-anh.jpg", alt="Conent Marketing")
          span.blog-default-author-name=author 
        .blog-default-comment 
          a.blog-default-comment-icon(href="#" rel="noopener noreferrer nofollow" title="Bình luận bài viết")
            i.fa.fa-comment-o(aria-hidden="true")
            span.blog-default-comment-icon-count=cmtCount
    .blog-default-content 
      .blog-default-date
        span=cate 
        span=date 
      .blog-default-title
        a(href=href, target="_blank", rel="noopener noreferrer" title=title)
          h3=title
      .blog-default-short
        p=shortDesc
    a.blog-default-button(href=href, rel="noopener noreferrer nofollow")
      span Xem chi tiết 

//- Rating dành riêng cho bài viết
mixin overview4post(overview)
  .post-overview-wrapper 
    .post-rating
      - var full = overview.rating.length;
      - var empty = 5 - full;
      span Đánh giá:
      .post-rating-star
        each star in Array(full)
          i.fa.fa-star(aria-hidden="true")
        each star in Array(empty)
          i.fa.fa-star-o(aria-hidden="true")
    .post-comment
      i.fa.fa-comment-o(aria-hidden="true")
      span #{overview.comment} lượt bình luận
    .post-viewed
      i.fa.fa-eye(aria-hidden="true")
      span #{overview.viewed} lượt xem 