// Title Style 01
mixin title(subtitle, title, titleAfter)
  .title-wrapper 
    if (subtitle)
      span.subtitle=subtitle
    h2.title=title
    if (titleAfter)
      p.title-after=titleAfter

// Button Product Style 01
mixin btnProduct(text)
  a.btn_product_ver1(class!=attributes.class href="#", target="_blank", rel="nofollow noopener noreferrer")
    span=text 

// Button Product Style 02
mixin btnProduct2(text)
  a.btn-product-2(class!=attributes.class href="#", target="_blank", rel="nofollow noopener noreferrer")
      span=text

mixin btnZalo(text)
  a.btn-zalo(class!=attributes.class, href="https://zalo.me/0963181517", target="_blank", rel="noopener noreferrer nofollow")=text

mixin btnOrder(text)
  a.btn-order(href="", target="_blank", rel="noopener noreferrer nofollow", class!=attributes.class)=text