// Product Infomation Box - Style 01
mixin productStyle01(href, image, title)
  .product_item1-wrapper
    a.product_item1-link(href=href, target="_blank", rel="noopener noreferrer")
      .product_item1-image
        img(src=image, alt=title, srcset=`${image} x2`)
      .product_item1-hover
        .product_item1-content
          h3.product_item1-title=title 
    +btnProduct("Đọc tiếp")(class="product_item1-button")

// Product Infomation Box - Style 02
mixin productStyle02(href, image, title, cats)
  .product-item-2-wrapper 
    a.product-item-2-link(href=href, target="_blank", rel="nofollow noopener noreferrer")
      .product-item-2-image
        img(src=image, alt=title, srcset=`${image} x2`)
    a(href=href, target="_blank", rel="noopener noreferrer")
      h3.product-item-2-title=title
    .product-item-2-cats
      a(href=href, target="_blank", rel="nofollow noopener noreferrer")=cats 
    .product-item-2-button
      +btnProduct2("Xem thêm")(class="product-item-2-button")