- 
  var danhmuc_chaithuytinh = [
    {
      image: "../../images/chai-thuy-tinh/chai-thuy-tinh-gia-tot-san-xuat-tai-tphcm-02.jpg",
      title: "Chai thuỷ tinh giá tốt - sản xuất tại TP.HCM",
      count: "49 sản phẩm",
      href: "#"
    },
    {
      image: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou-gia-tot-tai-tp-hcm.jpg",
      title: "Chai thuỷ tinh đựng rượu - sản xuất tại TP.HCM",
      count: "36 sản phẩm",
      href: "#"
    },
    {
      image: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-nuoc-san-xuat-tai-tp-hcm.jpg",
      title: "Chai thuỷ tinh đựng nước - sản xuất tại TP.HCM",
      count: "11 sản phẩm",
      href: "#"
    },
    {
      image: "../../images/chai-thuy-tinh/bo-binh-ly-thuy-tinh.jpg",
      title: "Bộ bình ly thuỷ tinh - giá tốt tại TP.HCM",
      count: "2 sản phẩm",
      href: "#"
    },
  ]

section.ctt-category
  .container
    +title("Danh mục nổi bật", "Chai thuỷ tinh iSOGLASS")
    .ctt-category-wrapper
      each item in danhmuc_chaithuytinh
        a.ctt-category-item(href=item.href, target="_blank", rel="noopener noreferrer")
          .ctt-category-image
            img(src=item.image, alt=item.title)
          .ctt-category-hover
            .ctt-category-content
              h3.ctt-category-title=item.title 
              span.ctt-category-count=item.count
