- 
  var product_usp = [
    {
      image: "../../images/hosting/tinh-hien-dai-cua-isoglass.jpg",
      textEng: "MODERN",
      textVi: "Hiện đại"
    },
    {
      image: "../../images/hosting/tinh-thanh-lich-cua-isoglass.jpg",
      textEng: "ELEGANT",
      textVi: "Thanh lịch"
    },    
    {
      image: "../../images/hosting/tinh-tinh-xao-cua-isoglass.jpg",
      textEng: "SOPHISTICATED",
      textVi: "Tinh xảo"
    },
  ]

section.product-usp 
  h2 Đặc điểm nổi bật từ iSOGLASS 
  .product-usp-wrapper 
    each item in product_usp
      .product-usp-item 
        .product-usp-image 
          img(src=item.image, alt=item.textVi, srcset=`${item.image} 2x`)
        .product-usp-button 
          p=item.textEng
          p=item.textVi