- 
  var isoglass_social = [
    {
      title: "Facebook",
      icon: "fa-facebook-square",
      href: "https://www.facebook.com/isoglass.vn"
    },
    {
      title: "Twitter",
      icon: "fa-twitter-square",
      href: "https://x.com/iSOGLASS_VN"
    },
    {
      title: "linkedin",
      icon: "fa-linkedin-square",
      href: "https://www.linkedin.com/in/thuy-tinh-isoglass-isoglass/"
    },
    {
      title: "Youtube",
      icon: "fa-youtube-play",
      href: "https://www.youtube.com/channel/UCzSTLCmXHkFl_bvaHiTHwuQ"
    },
    {
      title: "Pinterest",
      icon: "fa-pinterest-square",
      href: "https://www.pinterest.com/thuytinhisoglass/"
    },
    {
      title: "Instagram",
      icon: "fa-instagram",
      href: "https://www.instagram.com/isoglass.vn/"
    },
    {
      title: "Messenger",
      icon: "fa-comment",
      href: "Zalo.me/0963181517"
    },
    {
      title: "Google map",
      icon: "fa-map-marker",
      href: "https://maps.app.goo.gl/hziDhmUEjemVw7Nq8"
    },
  ]

- 
  var isoglass_core = [
    {
      image: "../../images/icon/icon-03.png",
      subtitle: "Giải pháp “1 Trạm”",
      title: "ONE-STOP SOLUTION",
      content: "Cung cấp đa dịch vụ toàn diện, từ tư vấn, thiết kế và sản xuất hoàn thiện sản phẩm trao đến tay khách hàng."
    },
    {
      image: "../../images/icon/icon-02.png",
      subtitle: "Dịch vụ chuyên nghiệp",
      title: "PROFESSIONAL SERVICE",
      content: "Mang đến dịch vụ chuyên nghiệp, chuyên môn cao qua bàn tay người thợ lành nghề và tận tâm với từng mẫu sản phẩm trong từng giai đoạn."
    },
    {
      image: "../../images/icon/icon-01.png",
      subtitle: "Cá nhân hóa trải nghiệm",
      title: "CUSTOMIZATION",
      content: "Linh hoạt trong khâu sản xuất, cung cấp các mẫu theo nhu cầu riêng biệt của từng khách hàng, mang đến sự độc đáo cho sản phẩm và sự trải nghiệm mà khách hàng mong muốn."
    },
    {
      image: "../../images/icon/icon-05.png",
      subtitle: "Đột phá",
      title: "INNOVATIVE",
      content: "Chúng tôi luôn tìm kiếm và phát triển phương thức sản xuất và các mẫu mã mới để mang tính đột phá và sáng tạo cho những sản phẩm đến tay khách hàng."
    },
    {
      image: "../../images/icon/icon-04.png",
      subtitle: "Hướng đến chất lượng",
      title: "QUALITY-DRIVEN",
      content: "Chúng tôi đặc biệt quan tâm đến chất lượng sản phẩm. Chúng tôi tin rằng “Chất lượng” đảm bảo tính bền vững không những cho sản phẩm mà còn là mối quan hệ của chúng tôi với quý khách hàng của mình."
    },
    {
      image: "../../images/icon/icon-06.png",
      subtitle: "Linh hoạt và đa dạng",
      title: "FLEXIBLE",
      content: "Chúng tôi cung cấp đa dạng và linh hoạt mẫu mã và dịch vụ sản xuất thuỷ tinh theo nhu cầu của khách hàng, phục vụ và thỏa mãn những gì mà khách hàng đang tìm kiếm."
    },
  ]

section.about-isoglass
  .container
    .about-isoglass-wrapper
      .about-isoglass-image
        img(
          src="../../images/hosting/san-xuat-gia-cong-chai-thuy-tinh-va-ly-thuy-tinh-gia-tot-tai-tp-hcm.jpg"
          alt="Sản xuất gia công chai thủy tinh và ly thủy tinh giá tốt tại TP.HCM"
          srcset="../../images/hosting/san-xuat-gia-cong-chai-thuy-tinh-va-ly-thuy-tinh-gia-tot-tai-tp-hcm.jpg 2x"
        )
      .about-isoglass-info
        h1.about-isoglass-header Giới thiệu về iSOGLASS
        .about-isoglass-content
          p
            a(href="/")
              strong iSOGLASS 
            | hay còn gọi là Thuỷ Tinh iSO. Chúng tôi tiên phong trong ngành sản xuất thuỷ tinh tại Việt Nam, nhằm đáp ứng được nhu cầu của từng Doanh nghiệp và cá nhân với các sản phẩm thuỷ tinh riêng biệt.
          p Bên cạnh việc cung cấp các mẫu thủy tinh có sẵn, iSOGLASS có dịch vụ sản xuất thủy tinh theo yêu cầu, giúp hiện thực hóa các ý tưởng của quý khách và thể hiện trên các sản phẩm thủy tinh theo một thiết kế riêng.
          p Thông qua đặt hàng sản xuất theo nhu cầu riêng, bạn có thể lựa chọn kiểu dáng, dung tích, màu sắc, kiểu in khắc cho chính nhu cầu bạn cần.
          h2.about-isoglass-header Slogan iSOGLASS
          p
            strong Shape Your Win:
            | Kế hoạch cho chiến thắng.
          h2.about-isoglass-header(style="margin-top: 20px") Theo dõi chúng tôi tại
          .about-isoglass-social
            each item in isoglass_social
              a(href=item.href target="_blank" rel="noopener noreferrer nofollow")
                i.fa(class=item.icon aria-hidden="true")
                span.about-isoglass-hover=item.title
  .container-fluid(style="background-color: #f9f1e2")
    .container
      .about-isoglass-wrapper
        .about-isoglass-image
          img(
            src="../../images/hosting/san-xuat-gia-cong-chai-thuy-tinh-va-ly-thuy-tinh-gia-tot-tai-tp-hcm-2.jpg"
            alt="Sản xuất gia công Chai thủy tinh và Ly thủy tinh giá tốt tại TP.HCM"
            srcset="../../images/hosting/san-xuat-gia-cong-chai-thuy-tinh-va-ly-thuy-tinh-gia-tot-tai-tp-hcm-2.jpg 2x"
          )
        .about-isoglass-info
          h2.about-isoglass-heading iSOGLASS
          ul.about-isoglass-list 
            li 
              b iSO: 
              | Chất lượng
            li
              b Glass: 
              | Sản phẩm thủy tinh
          p
            strong iSOGLASS:
            | Cung cấp và sản xuất sản phẩm thủy tinh chất lượng cao
          h2.about-isoglass-heading in Shape of Glass 
          p Nơi tạo ra những mẫu mã thuỷ tinh theo nhu cầu của riêng bạn.
          h2.about-isoglass-heading in Search of Glass 
          p Nơi tìm kiếm các mẫu mã thuỷ tinh đáng tin cậy và đa dạng.