  - 
    var cttdr = {
      title: "Bình thủy tinh đựng nước cao cấp iSO-1, 
      topbar: "Chai thủy tinh đựng rượu", 
      rating: [1,2,3,4],
      breadcrumb: [{name:"Trang chủ",href:"/"}, {name:"Chai thủy tinh",href:"./chai-thuy-tinh.html"}, {name:"Chai thủy tinh đựng rượu",href:"./chai-thuy-tinh-dung-ruou.html"}],
      H1: "Chai thuỷ tinh đựng rượu - giá tốt tại TP.HCM"
    }

- 
  var btt_products = {
    heading: "Sản phẩm Bình thủy tinh tại iSOGLASS",
    items: [
      {
        title: "Bình thủy tinh đựng nước cao cấp iSO-1",
        image: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-1.jpg",
        href: "#",
      },
      {
        title: "Bình thủy tinh đựng nước cao cấp iSO-1",
        image: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-2.jpg",
        href: "#",
      },
      {
        title: "Bình thủy tinh đựng nước cao cấp iSO-1",
        image: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-3.jpg",
        href: "#",
      },
      {
        title: "Bình thủy tinh đựng nước cao cấp iSO-1",
        image: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-4.jpg",
        href: "#",
      },
      {
        title: "Bình thủy tinh đựng nước cao cấp iSO-1",
        image: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-5.jpg",
        href: "#",
      },
      {
        title: "Bình thủy tinh đựng nước cao cấp iSO-1",
        image: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-6.jpg",
        href: "#",
      },
      {
        title: "Bình thủy tinh đựng nước cao cấp iSO-1",
        image: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-7.jpg",
        href: "#",
      },
      {
        title: "Bình thủy tinh đựng nước cao cấp iSO-1",
        image: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-8.jpg",
        href: "#",
      },
      {
        title: "Bình thủy tinh đựng nước cao cấp iSO-1",
        image: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-9.jpg",
        href: "#",
      }
    ]
  }

- 
  var btt_sidebar = {
    heading: "Phân loại Bình thủy tinh",
    items: [
      {
        name: "Bình thủy tinh đựng nước",
        link: "#",
        image: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-ruou.jpg",
        title: "Bộ bình ly thủy tinh - giá tốt tại TP.HCM",
      },
      {
        name: "Bình thủy tinh đựng rượu",
        link: "#",
        image: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-nuoc.jpg",
        title: "Bình thủy tinh đựng rượu - giá tốt tại TP.HCM"
      }
    ]
  }


- 
  var post = [
    {
      title: "Điểm chính 1",
      href: "#",
      child: [
        {
          childTitle: "Tiêu điểm con 1",
          href: "#"
        },
        {
          childTitle: "Tiêu điểm con 2",
          href: "#"
        },
        {
          childTitle: "Tiêu điểm con 3",
          href: "#"
        },
      ]
    },
    {
      title: "Điểm chính 2",
      href: "",
      child: [
        {
          childTitle: "Tiêu điểm con 1",
          href: "#"
        },
        {
          childTitle: "Tiêu điểm con 2",
          href: "#"
        }
      ]
    },
    {
      title: "Điểm chính 3",
      href: "#"
    },
    {
      title: "Điểm chính 4",
      href: "#"
    }
  ]


- var info = {
  title: [
    {title: "Đóng gói", dataTab: "1", active: true},
    {title: "Vận chuyển", dataTab: "2", active: false},
    {title: "Tư vấn", dataTab: "3", active: false}
  ],
  content: [
    {text: "Đây là content số 1", dataTab: "1" ,active: true},
    {text: "Đây là content số 2", dataTab: "2" ,active: false},
    {text: "Đây là content số 3", dataTab: "3" ,active: false}
  ]
};


block product_tab_infomation 
  - var tab_info = {titleTab:[{title:"Đóng gói",dataTab:"1",active:true},{title:"Vận chuyển",dataTab:"2",active:false},{title:"Tư vấn",dataTab:"3",active:false}],content:[{text:"Quy trình đóng gói tại iSOGLASS vô cùng nghiêm nghặc, chúng tôi kiểm tra tới từng gói hàng đều phải được bao bọc kỹ lưỡng, chắc chắn.",dataTab:"1",active:true},{text:"Vận chuyển theo 3 đường: đường bộ, đường thủy và đường hàng không. Tất cả đều được bộ phận quản lý kho hàng và vận chuyển iSOGLASS lo liệu",dataTab:"2",active:false},{text:"Đội ngũ tư vấn viên tại iSOGLASS cực kì nhiệt tình và hỗ trợ tối đa theo yêu cầu của khách hàng",dataTab:"3",active:false}]};
  .product-tab-wrapper 
    .product-tab-head 
      each item in tab_info.titleTab
        if item.active 
          .product-tab-list.product-tab-active(data-tab=`${item.dataTab}`) 
            span=item.title
        else 
          .product-tab-list(data-tab=`${item.dataTab}`)
            span=item.title 
    .product-tab-body 
      each item in tab_info.content 
        if item.active 
          .product-tab-content.product-tab-active(data-tab=`${item.dataTab}`)
            p=item.text 
        else 
          .product-tab-content(data-tab=`${item.dataTab}`)
            p=item.text 