- 
  var gallery_images = [
    {
      href: "#",
      image: "./images/001.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 1,
    },
    {
      href: "#",
      image: "./images/002.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 2,
    },
    {
      href: "#",
      image: "./images/003.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 3,
    },
    {
      href: "#",
      image: "./images/004.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 4,
    },
    {
      href: "#",
      image: "./images/005.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 5,
    },
    {
      href: "#",
      image: "./images/006.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 6,
    },
    {
      href: "#",
      image: "./images/007.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 7,
    },
    {
      href: "#",
      image: "./images/008.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 8,
    },
    {
      href: "#",
      image: "./images/009.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 9,
    },
    {
      href: "#",
      image: "./images/010.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 10,
    }
  ]
.images-gallery-wrapper 
  each item in gallery_chai_thuy_tinh_dung_ruou
    .images-gallery-item 
      a(href=item.href, rel="noopener noreferrer nofollow", data-index=`${item.index}`)
        img(src=item.image, alt=item.alt, srcset=`${item.image} 2x`)
script(src="../../js/libs/images-gallery.js") 