- 
  var sidebar_list_post = [
    {
      href: "#",
      title: "Quy trình công đoạn sản xuất ly thùy tinh",
      titlePost: "Quy trình công đoạn sản xuất ly thùy tinh",
      image: "../../images/hosting/cach-bao-quan-chai-thuy-tinh-dung-ruou.jpg",
    },
    {
      href: "#",
      title: "Quy trình công đoạn sản xuất ly thùy tinh",
      titlePost: "Quy trình công đoạn sản xuất ly thùy tinh",
      image: "../../images/hosting/cach-bao-quan-chai-thuy-tinh-dung-ruou.jpg",
    },
    {
      href: "#",
      title: "Quy trình công đoạn sản xuất ly thùy tinh",
      titlePost: "Quy trình công đoạn sản xuất ly thùy tinh",
      image: "../../images/hosting/cach-bao-quan-chai-thuy-tinh-dung-ruou.jpg",
    },
    {
      href: "#",
      title: "Quy trình công đoạn sản xuất ly thùy tinh",
      titlePost: "Quy trình công đoạn sản xuất ly thùy tinh",
      image: "../../images/hosting/cach-bao-quan-chai-thuy-tinh-dung-ruou.jpg",
    },
    {
      href: "#",
      title: "Quy trình công đoạn sản xuất ly thùy tinh",
      titlePost: "Quy trình công đoạn sản xuất ly thùy tinh",
      image: "../../images/hosting/cach-bao-quan-chai-thuy-tinh-dung-ruou.jpg",
    },
    {
      href: "#",
      title: "Quy trình công đoạn sản xuất ly thùy tinh",
      titlePost: "Quy trình công đoạn sản xuất ly thùy tinh",
      image: "../../images/hosting/cach-bao-quan-chai-thuy-tinh-dung-ruou.jpg",
    },
    {
      href: "#",
      title: "Quy trình công đoạn sản xuất ly thùy tinh",
      titlePost: "Quy trình công đoạn sản xuất ly thùy tinh",
      image: "../../images/hosting/cach-bao-quan-chai-thuy-tinh-dung-ruou.jpg",
    },
    {
      href: "#",
      title: "Quy trình công đoạn sản xuất ly thùy tinh",
      titlePost: "Quy trình công đoạn sản xuất ly thùy tinh",
      image: "../../images/hosting/cach-bao-quan-chai-thuy-tinh-dung-ruou.jpg",
    },
    {
      href: "#",
      title: "Quy trình công đoạn sản xuất ly thùy tinh",
      titlePost: "Quy trình công đoạn sản xuất ly thùy tinh",
      image: "../../images/hosting/cach-bao-quan-chai-thuy-tinh-dung-ruou.jpg",
    },
    {
      href: "#",
      title: "Quy trình công đoạn sản xuất ly thùy tinh",
      titlePost: "Quy trình công đoạn sản xuất ly thùy tinh",
      image: "../../images/hosting/cach-bao-quan-chai-thuy-tinh-dung-ruou.jpg",
    },
  ]
//- Code HTML 
aside.sidebar-post 
  p.sidebar-post-title Bài viết được nhiều quan tâm 
  ul.sidebar-post-list 
    each item in sidebar_list_post
      li.sidebar-post-item 
        a(href=item.href, rel="noopener noreferrer" title=item.title)
          img(src=item.image, alt=item.title)
          span=item.titlePost