- 
  var chai_thuy_tinh_dung_ruou = [
    {
      menuChild: "Chai thuỷ tinh đựng nước",
      image: "../images/chai-thuy-tinh/chai-thuy-tinh-de-nui-doc-la-dung-ruou-size-500ml-iso-25.jpg",
      count: "10 sản phẩm",
    },
    {
      menuChild: "Chai thuỷ tinh đựng nước",
      image: "../images/chai-thuy-tinh/chai-thuy-tinh-de-nui-doc-la-dung-ruou-size-500ml-iso-25.jpg",
      count: "10 sản phẩm",
    },
    {
      menuChild: "Chai thuỷ tinh đựng nước",
      image: "../images/chai-thuy-tinh/chai-thuy-tinh-de-nui-doc-la-dung-ruou-size-500ml-iso-25.jpg",
      count: "10 sản phẩm",
    },
  ]

section.title-child
  .container
    .title-child-wrapper
      .title-child-title
        span.title-child-back 
          a(href="#" rel="noopener noreferrer nofollow")
            i.fa.fa-long-arrow-left(aria-hidden="true")
        p.title-child-heading Chai thuỷ tinh đựng rượu sản xuất tại TP.HCM 
      .title-child-menu
        button.title-child-menu-btn Danh mục sản phẩm
          i.fa.fa-angle-down(aria-hidden="true")
        ul.title-child-list
          each item in chai_thuy_tinh_dung_ruou
            li.title-child-item 
              a.title-child-item-link(href="#")
                img.title-child-item-image(src=item.image, alt=item.menuChild, srcset=`${item.image} 2x`)
                .title-child-item-text
                  span.title-child-item-name=item.menuChild 
                  span.title-child-item-count=item.count