- 
  var gallery_chai_thuy_tinh_dung_ruou = [
    {
      href: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/chai-thuy-tinh-dung-ruou-1.jpg",
      image: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/chai-thuy-tinh-dung-ruou-1.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 1,
    },
    {
      href: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/chai-thuy-tinh-dung-ruou-2.jpg",
      image: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/chai-thuy-tinh-dung-ruou-2.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 2,
    },
    {
      href: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/chai-thuy-tinh-dung-ruou-3.jpg",
      image: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/chai-thuy-tinh-dung-ruou-3.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 3,
    },
    {
      href: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/chai-thuy-tinh-dung-ruou-4.jpg",
      image: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/chai-thuy-tinh-dung-ruou-4.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 4,
    },
    {
      href: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/thiet-ke-chai-thuy-tinh-dung-ruou-1.jpg",
      image: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/thiet-ke-chai-thuy-tinh-dung-ruou-1.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 5,
    },
    {
      href: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/thiet-ke-chai-thuy-tinh-dung-ruou-1.jpg",
      image: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/thiet-ke-chai-thuy-tinh-dung-ruou-1.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 6,
    },
    {
      href: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/thiet-ke-chai-thuy-tinh-dung-ruou-2.jpg",
      image: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/thiet-ke-chai-thuy-tinh-dung-ruou-2.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 7,
    },
    {
      href: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/thiet-ke-chai-thuy-tinh-dung-ruou-3.jpg",
      image: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/thiet-ke-chai-thuy-tinh-dung-ruou-3.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 8,
    },
    {
      href: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/thiet-ke-chai-thuy-tinh-dung-ruou-4.jpg",
      image: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/thiet-ke-chai-thuy-tinh-dung-ruou-4.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 9,
    },
    {
      href: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/thiet-ke-chai-thuy-tinh-dung-ruou-5.jpg",
      image: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/thiet-ke-chai-thuy-tinh-dung-ruou-5.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 10,
    },
    {
      href: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/thiet-ke-chai-thuy-tinh-dung-ruou-6.jpg",
      image: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/thiet-ke-chai-thuy-tinh-dung-ruou-6.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 11,
    },
    {
      href: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/thiet-ke-chai-thuy-tinh-dung-ruou-7.jpg",
      image: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/thiet-ke-chai-thuy-tinh-dung-ruou-7.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 12,
    },
    {
      href: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/thiet-ke-chai-thuy-tinh-dung-ruou-8.jpg",
      image: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/thiet-ke-chai-thuy-tinh-dung-ruou-8.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 13,
    },
    {
      href: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/thiet-ke-chai-thuy-tinh-dung-ruou-9.jpg",
      image: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/thiet-ke-chai-thuy-tinh-dung-ruou-9.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 14,
    },
    {
      href: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/thiet-ke-chai-thuy-tinh-dung-ruou-10.jpg",
      image: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou/thiet-ke-chai-thuy-tinh-dung-ruou-10.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 15,
    },
  ]
//- Galley Image Chai thuỷ tinh đựng rượu
.cate-child-gallery-images-wrapper 
  each item in gallery_chai_thuy_tinh_dung_ruou
    .cate-child-gallery-images-item 
      a(href=item.href, rel="noopener noreferrer nofollow", data-index=`${item.index}`)
        img(src=item.image, alt=item.alt, srcset=`${item.image} 2x`)